.musicBtn{
    position: fixed;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    font-family: monospace;
    border: 0;
    top: 5px;
    left: calc(100% - 70px);
    opacity: 90%;
    z-index: 10;
}