.musicBtn{
    display: flex;
    position: fixed;
    background-color: transparent;
    top: 15px;
    left: calc(100% - 50px);
    opacity: 0.4;
    z-index: 10;
    width: 30px;
}

.active{
    opacity: 1;
}
