.fondo{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    height: 100vh;
        width: 100vw;
        top:0;
        left: 0;
    justify-content: center;
}
.botones{
    top:15vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;
}

.botones button{
    padding: 4px;
    width: 150px;
    border-style: dashed;
    border-width: 3px;
    border-color: #333;

}